#login{
    background-image: url(../../isset//img//bg-news.jpg);
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
}
#login .login-form{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#login .login-form .form-input{
    border-bottom: 1px solid blue;
}
#login .login-form input{
    border: none;
    font-size: 20px;
    color: blue;
    width: 100%;
}
#login .login-form input:focus{
    box-shadow: none;
}
#login .login-form span:focus{
    box-shadow: none;
}
#login .login-form span{
    border: none;
}