#admin_task table{
    border: 1px solid rgba(0,0,0,0.2);
}
#admin_task table th{
    border-left: 1px solid rgba(0,0,0,0.2);
}
#admin_task table td{
    border: 1px solid rgba(0,0,0,0.2);
}
#admin_task #task_done_select .ant-select-selector {
    padding: 0;
}
#admin_task #task_done_select .ant-select-selection-item {
    padding-inline-end: 0;
}
#conversation{
    transition: all 0.5s;
}
#conversation .flex .btn{
    border: 1px solid blue;
    border-radius: 5px;
}
#conversation .comment{
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 10px;
}
#conversation .comment h3{
    border-bottom: 1px solid rgba(0,0,0,0.2);
}